.statisticsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  padding: 15;
  margin-left: auto;
  margin-right: auto;

  background-color: #e2fe2d;
}

.statList {
  list-style-type: none;

  display: flex;
  padding: 0;
}

.item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: calc(480px / 5);
  min-height: 60px;

  border: solid black;

  background-color: #5482e6;
}
